<div class="card">
    <div class="card-header">
        Agregar Medicion
    </div>
    <div class="card-body">
        <form (ngSubmit)="enviarDatos()">
            <div class="mb-3">
            <label for="" class="form-label">Egreso 1</label>
            <input type="double"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese Egreso 1">
            <label for="" class="form-label">Egreso 2</label>
            <input type="double"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese Egreso 2">
            </div>
            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>

            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>
