<div class="card">
    <div class="card-header">
        Listado de lecturas
    </div>
    <div class="card-body">
<table class="table">
    <thead>
        <tr>
            <th>Egreso 1</th>
            <th>Egreso 1</th>
            <th>Turvidez</th>
            <th>PH</th>
            <th>Clorimetro</th>
            <th>Cisterna</th>
            <th>Presion</th>
            <th>Bomba</th>
            <th>Fecha</th>
            <th>Accciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a routerLink="editar-empleado/1">Editar </a> / Borrar</td>
        </tr>
    </tbody>
</table>

    </div>

</div>